.pfc{
    margin-left: 350px;
    text-align: center;
}

.info{
    background-color: #ffff;
    
}

.info h3{
    color: #447A38;
    text-align: center;

}

#edit{
    text-align: center;
    width: 5%;
    height: 5%;
    margin-left: 10px ;
}

#icon{
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    
}

.detalhes input{
   color: #447A38;
   display: flow-root;
   margin-bottom: 15px;
   border-radius: 5px;
   width: 200px;
   height: 25px;
   border: 1px solid;
   
}

.pfc button{
    background-color: #447A38;
    border-radius: 20px;
    width: 110px;
    height: 30px;
    font-size: small;
    color: aliceblue;
}

.frase{
    font-size: 10px;
    

}

.phrase::placeholder {
    font-size: 10px;
}

.user_icon{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}