.form-review{
    border: none;
}

.form-controol .score-container{
    display: row;
    gap: 2rem;
    justify-content: center;
}

.score-container svg{
    font-size: 1.9rem;
    cursor: pointer;
    transition: 0.3s;
    
}

.score-container svg:hover{
    fill: #447a38a0;
}

.score-container input:checked ~ svg{
    fill: #447a38a0 ;
}

.radio-container{
    text-align: center;
    position: relative;
}

.radio-container input{
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 35px;
}

.radio-container .paraf {
    font-size: 13px;
    margin: 13px;
    font-style: italic;
    font-weight: 200;
}