.container-meus-servicos {
    display: flex;
}

.pagina-meus-servicos {
    min-height: 100vh;
    flex-grow: 1;
    margin: 0;
    padding: 20px;
    background-color: #fff;
  }

  .pagina-meus-servicos h2 {
    margin-top: -10px;
    color: #447A38;
  }

  .status-servicos {
    display: flex;
    gap: 15px; 
}

.status-item {
    cursor: pointer;
    position: relative;
}

.status-item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #447A38;
}

.status-item-ativo::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #447A38;
}
  
  .status-servicos span {
    margin-right: 10px;
    color: #447A38;
  }
  
  .lista-servicos {
    margin-top: 20px;
  }
  
  .cartao-servico {
    background-color: #FFF;
    border: 1px solid #D0DEBF;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .cartao-servico h3 {
    color: #447A38;
  }
  
  .detalhes-servico p {
    margin: 5px 0;
  }
  
  .acoes-servico button {
    background-color: #739B65;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .acoes-servico button:hover {
    background-color: #447A38;
  }
  