.como-funciona{
    width: 90%;
    margin: auto;
    display: flex;
    color: #447A38;
    justify-content: space-evenly;
    padding: 10px;
}

.imagem-profissional{
    width: 40%;
    text-align: center;
    margin: auto;
}

.imagem-profissional img{
    width: 90%;
    max-height: 100%;
}

.passos {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    width: 100%;
    /* margin-left: 100px; */
    padding: 20px 20px 20px 90px;
}

.como-funciona h2 {
    font-size: 22px;
}

.como-funciona p {
    font-size: 16px;
}

.passo {
    display: flex;
    align-items: center;
    padding: 8px;
}

.passo-conteudo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.passo-imagem img{
    width: 50px;
    margin-right: 20px;

}

@media screen and (max-width: 900px) {

    .imagem-profissional {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {

    .como-funciona{
        display: flex;
        justify-content: space-around;
        margin: 10px -50px;        
    }

}