.container-faq{
    height: 100%;
    width: 100%;
    background-color: #447A38;
    text-align: center;
    font-family:  'Open Sans', Helvetica, sans-serif;
}

.texto-faq{
    color: #fff;
    height: 200px;
    width: 600px;
    margin: auto;
    padding: 10px 0;
}

.faq-colunas{
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}

.faq-colunas .faq-coluna-esquerda{
    display: flex;
    height: 100%;
    float: left;
    flex-direction: column;
    width: 45%;
    margin: 30px auto 100px auto;
    border: 2px solid red;
}

.faq-colunas .faq-coluna-direita{
    display: flex;
    height: 100%;
    float: right;
    flex-direction: column;
    width: 45%;
    margin: 30px auto 100px auto;
}

.faq-pergunta{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 460px;
    /* height: 65px; */
    height: 100%;
    width: 30rem;
    margin: 5px auto;
    border-radius: 10px;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
}

.faq-pergunta img{
    width: 25px;
    height: 25px;
    justify-content: flex-end;
    margin: auto auto auto 60px;
}

.faq-pergunta p{
    color: #447A38;
    margin: 13px auto 13px auto;
    justify-content: flex-start;
}

.faq-pergunta span {
    border: 2px solid crimson;
    margin: auto;
    width: 100%;
}

.faq-resposta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    padding: 5px 5px;
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 2px solid blue;
}

#botao-faq {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    
    .faq-colunas {
        flex-direction: column;
    }

    .faq-colunas .faq-coluna-esquerda {
        width: 90%;
        margin-bottom: -50px;
    }

    .faq-colunas .faq-coluna-direita{
        width: 90%;
    }

    /* .faq-pergunta{
        width: 55%;
    } */
}

@media screen and (max-width: 560px) {
    .faq-pergunta{
        width: 360px;
    }
}

@media screen and (max-width: 500px) {

    .container-faq{
        height: auto;
    }
    
    .texto-faq{
        width: auto;
        height: auto;
        margin: 10px;
        text-align: center;
    }

    .texto-faq h3, .texto-faq p {
        font-size: 12px;
    }

    .texto-faq h2 {
        font-size: 16px;
    }
    
    .faq-colunas{
        height: auto;
    }
    
    .faq-coluna-esquerda, .faq-coluna-direita {
        height: auto;
        text-align: center;
    }

    .faq-pergunta p {
        text-align: left; 
        margin-bottom: 15px;
    }
    
    .faq-pergunta img{
        width: 15px;
        height: 15px;
        margin-bottom: 25px;
    }
}