.form-satisfacao{
    padding: 2rem;
}

.header{
    text-align: center;
    margin-bottom: 2rem;
}

.header h2{
    font-size: 2rem;
    margin-bottom: 1rem;  
}

.form-contanier{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-contanier form{
    max-width: 400px;
    margin: 0 auto;
}

.inputs-container{
    min-height: 280px;
}

