.quem-somos {
    display: flex;
    margin: 20px;
    padding: 10px;
    color: #447A38;
}

.imagem-quem-somos img {
    width: 500px;
    height: 500px;
}

.textos-quem-somos {
    margin-left: 50px;
}

.texto-1-quem-somos {
    margin: 40px 0 100px 0px;
}

.texto-2-quem-somos {
    display: flex;
    margin-top: 100px;
}


@media screen and (max-width: 500px) {

    .imagem-quem-somos {
        display: none;
    }

    .textos-quem-somos {
        margin: 0px;
    }

    .texto-1-quem-somos {
      margin: 0;
    }

    .texto-2-quem-somos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 2.5rem;
    }
}