*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  margin: 0px;
  font-family:  'Open Sans', Helvetica, sans-serif;

}


.teste{
  color: #F2F9E6;
}
.tam-ico{
font-size: 20px;
}

.texto-aviso{
  font-size: 10px;
  text-align: justify;
}
