body {
    margin: 20px;
}

.histoticoTotal {
    padding: 20px;
}

h1,
h2 {
    color: #006400;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    color: #739B65;
    margin: 10px;
    padding: 10px;
}