.beneficios-container {
    color: #447A38;
    width: 100%;
    height: 100%;
}

.beneficios-intro {
    width: 90%;
    height: 100%;
    padding: 80px 0 50px 70px;
    margin: 0 auto;
}

.beneficios-intro p {
    width: 75%;
    margin-top: 20px;
}

.container-4-beneficios {
    padding: 0;
}

.container-4-beneficios img {
    width: 30px;
    height: 30px;
}

.container-4-beneficios .beneficios-1-2 {
    display: flex;
    width: 90%;
    padding: 0 70px;
    margin: 10px auto;
}

.container-4-beneficios .beneficios-3-4 {
    display: flex;
    width: 90%;
    padding: 0 70px;
    margin: 40px auto;
    justify-content: space-between;
    margin-bottom: 70px;
}

.container-4-beneficios .beneficio-1 p {
    width: 70%;
    margin-right: 260px;
}

.container-4-beneficios .beneficio-2 p {
    width: 70%;
}

.container-4-beneficios .beneficio-3 p {
    width: 80%;
}

.container-4-beneficios .beneficio-4 p {
    width: 80%;
}

.container-4-beneficios .beneficio-4 {
    margin-left: 30px;
}


@media screen and (max-width: 800px) {

    .beneficios-intro {
        padding-left: 70px;
    }

    .container-4-beneficios .beneficios-1-2 {
        padding-left: 70px;
        margin: 0 auto;
    }

    .container-4-beneficios .beneficios-3-4 {
        padding-left: 70px;
        margin: 0 auto;
    }

    .container-4-beneficios .beneficios-1-2 {
        flex-direction: column;
        justify-content: none;
        margin: auto;
    }

    .container-4-beneficios .beneficios-3-4 {
        flex-direction: column;
        justify-content: none;
    }

    .container-4-beneficios .beneficio-4 {
        margin-left: 0;
    }

    .container-4-beneficios .beneficio-1 p {
        width: 70%;
    }

    .container-4-beneficios .beneficio-2 p {
        width: 70%;
    }

    .container-4-beneficios .beneficio-3 p {
        width: 70%;
    }

    .container-4-beneficios .beneficio-4 p {
        width: 70%;
    }

}

@media screen and (max-width: 500px) {

    .beneficios-intro {
        padding-left: 50px;
    }
    
    .container-4-beneficios .beneficios-1-2 {
        padding-left: 50px;
        margin: 0 auto;
    }

    .container-4-beneficios .beneficios-3-4 {
        padding-left: 50px;
        margin: 0 auto;
    }

}