.beneficios-container {

    width:1300px;
    height: 510px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 50px 80px repeat(2, 30px) 20px 60px repeat(2, 30px) 20px 60px;
    gap: 10px;
    color: #739B65;
    padding: 40px;
    font-size: 15px;
    margin-bottom: 60px;
}

.item-1 {
    grid-column-start: 1;
    display: grid;
    align-items: end;
    justify-content: start;
}
.item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 40px;
}
.item-3 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.item-4 {
    grid-column-start: 1;
    grid-row-start: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item-4 img {
    width:30px;
}

.item-5 {
    grid-column-start: 1;
    grid-row-start: 5;
}
.item-6 {
    grid-column-start: 1;
    grid-row-start: 6;
}
.item-7 {
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    align-items: center;
}

.item-7 img {
    width: 30px;
}

.item-8 {
    grid-column-start: 2;
    grid-row-start: 5;
}
.item-9 {
    grid-row-start: 6;
}
.item-10 {
    grid-row-start: 8;
    display: flex;
    align-items: center;
}

.item-10 img {
    width: 30px;
}
.item-11 {
    grid-row-start: 9;
}
.item-12 {
    grid-row-start: 10;
}
.item-13 {
    grid-row-start: 8;
    display: flex;
    align-items: center;
}

.item-13 img {
    width: 30px;
}
.item-14 {
    grid-row-start: 9;
}
.item-15 {
    grid-row-start: 10;

}

@media screen and (max-width: 500px) {

    .beneficios-container {
        width:auto;
        height: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px repeat(2, 80px) 20px repeat(2, 30px) 20px 60px repeat(2, 30px) 20px 60px;
        margin: 0 20px;
        margin-bottom: 60px;
    }
    
    .item-1 {
        grid-column-start: 1;
        display: grid;
        align-items: end;
        justify-content: start;

    }
    .item-2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size:16px;
        font-weight: 700;
    }
    .item-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .item-4 {
        grid-column-start: 1;
        grid-row-start: 5;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .item-4 img {
        width:20px;
        margin-top: 20px;
    }
    
    .item-5 {
        grid-column-start: 1;
        grid-row-start:6;
        font-weight: 500;
    }
    .item-6 {
        grid-column-start: 1;
        grid-row-start: 7;
    }
    .item-7 {
        grid-column-start: 2;
        grid-row-start: 5;
        display: flex;
        align-items: center;
    }
    
    .item-7 img {
        width:20px;
        margin-top: 20px;
    }
    
    .item-8 {
        grid-column-start: 2;
        grid-row-start: 6;
        font-weight: 500;
    }
    .item-9 {
        grid-row-start: 7;
    }
    .item-10 {
        grid-row-start: 9;
        display: flex;
        align-items: center;
    }
    
    .item-10 img {
        width:20px;
        margin-top: 20px;
    }
    .item-11 {
        grid-row-start: 10;
        font-weight: 500;
    }
    .item-12 {
        grid-row-start: 11;
    }
    .item-13 {
        grid-row-start: 9;
        display: flex;
        align-items: center;
    }
    
    .item-13 img {
        width:20px;
        margin-top: 20px;
    }
    .item-14 {
        grid-row-start: 10;
        font-weight: 500;
    }
    .item-15 {
        grid-row-start: 11;
    
    }
    .item-16 {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-row-end: 11;
        display: flex;
        justify-content: center;
    }
    
    .item-16 img{
        display: none;
    }
   

    .item-6 {
        font-weight: 300;
        margin-top: 20px;
    }

    .item-9 {
        font-weight: 300;
        margin-top: 20px;
    }

    .item-12 {
        font-weight: 300;
        margin-top: 20px;
    }

    .item-15 {
        font-weight: 200;
        margin-top: 20px;
    }


    
}