.equipe {
    
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  
}

.equipe__descricao {
    color: #447A38;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: -40px;
}

.equipe__titulo {
    color:  #447A38;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pessoas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}


.pessoa {
    display: flex;
    flex: 1 1 150px;
    flex-direction: column;
    
}

.pessoa__nome {
    color: #447A38;;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
   
}


.pessoa__funcao {
    color: #595959;
    font-size: 1rem;
    text-transform: lowercase;
    text-align: center;

}

.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 25px 0 10px 20px;
    border: 3px solid #447A38;
    flex-wrap: wrap;
}

.pessoa__imagem--jonatha {
    background-image: url('../img/jonatha.jpg');
}

.pessoa__imagem--karolynne {
    background-image: url('../img/karolynne.jpg');
}

.pessoa__imagem--lais {
    background-image: url('../img/lais.jpg');
}

.pessoa__imagem--leticia {
    background-image: url('../img/leticia.jpg');
}

.pessoa__imagem--maju {
    background-image: url('../img/maju.jpg');
}

.pessoa__imagem--rogerio {
    background-image: url('../img/rogerio.PNG');
}

@media screen and (max-width: 1235px) {
    .pessoa__imagem { 
        height: 180px;
        width: 180px;
        margin: 25px 0 10px 80px;
       
    }

}

@media screen and (max-width: 1115px) {
    .pessoa__imagem { 
        height: 200px;
        width: 200px;
        margin: 10px 0 5px 50px;
       
    }

}

@media screen and (max-width: 966px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 50px;
       
    }
}

@media screen and (max-width: 912px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 80px;
       
    }
}


@media screen and (max-width: 786px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 135px;
        height: 300px;
        width: 300px;
        
       
    }
}

@media screen and (max-width: 770px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 130px;    
    }

}

@media screen and (max-width: 760px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 110px;
       
    }
    
}

@media screen and (max-width: 750px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 120px;
       
    }
}


@media screen and (max-width: 730px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 110px;
       
    }
}



@media screen and (max-width: 715px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 100px;
       
    }
}

@media screen and (max-width: 540px) {
    .pessoa__nome {

        margin-left: 50px !important;
    }
    
    .pessoa__funcao {
        margin-left: 50px;   
    }
      
}


@media screen and (max-width: 430px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 30px;
       
    }
}
@media screen and (max-width: 414px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 10px;
        height: 200px;
        width: 200px;
       
    }
}

@media screen and (max-width: 412px) {
    .pessoas{
    margin-left: 40px;
    }
    
}

@media screen and (max-width: 379px) {
    .pessoa__imagem { 
        margin: 10px 0 5px 15px;
       
    }
}



@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}


